<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Aplicación NodeJS con SQL</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>Nodejs, MySQL,
        Express asi como Handlebars</strong>,
      para el diseño se utilizaron los framework de <strong>CSS y Bootstrap</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este proyecto esta en base a una aplicación de contactos y enlaces preferidos en donde el usuario podrá guardar
      su lista de contactos asi como los enlaces que visite habitualmente, siendo que estos registros no podrán ser
      visualizadas por otros usuarios.</p>
    <a href="https://github.com/RaulGeronimo/appMysql" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Links/MySQL_app.sql" download="MySQL_app.sql">Descargar Base de Datos</a>
    <a href="https://appmysql-production.up.railway.app/" target="_blank">Demo</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Links/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Notas/video.mp4" poster="../../../assets/img/Notas/inicio.png" loop muted
        controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 3 tablas, las cuales son: <strong>Users, Links y Contacts</strong>. Cuando
      se Ejecuta el proyecto, se genera una tabla llamada <strong>Sessions</strong></p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Links/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Links/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar con Visual Studio Code, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>keys</strong> que se encuentra en la carpeta de
      src.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/Data.png">
    </div>
  </div>

  <!-- Dev -->
  <br>
  <div class="sobremi">
    <p>En una terminal se colocará el comando <strong>npm run dev</strong>. Esto también hara que se genere la tabla
      <strong>sessions</strong>. Para que funcione ya debe estar en el equipo la Base de Datos</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/Dev.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, primero se debera registrar en la seccion de <strong>Registrar</strong> o dando
      clic desde el inicio en <strong>Empezar</strong></p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/login.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>Una vez que el usuario se encuentre registrado podra acceder, en la pantalla de perfil aparecera una bienvenida
      asi como un pequeño menú.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/perfil.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Contactos</p>
    <p>Cuando el usuario ya haya creado algún contacto, en cada una de los contactos se encontrara un boton para
      actualizar o en su defecto para eliminar, estos contactos no las podran visualizar otros usuarios.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/contacts.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Enlaces</p>
    <p>Cuando el usuario ya haya creado algún enlace, en cada una de los enlaces se encontrara un boton para
      actualizar o en su defecto para eliminar, estas notas no las podran visualizar los demas usuarios.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Links/links.png">
    </div>
  </div>
</section>
