<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Transmisión de Datos</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>HTML, JavaScript, CSS y
        PHP</strong> asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a una página que sirve para ayudar a estudiantes que estén cursando esta
      asignatura, esta página es un material de apoyo hacia estos alumnos.</p>
    <a href="https://github.com/RaulGeronimo/Transmision-de-Datos" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Transmision de Datos/Usuarios.sql" download="transmisionDatos.sql">Descargar Base
      de
      Datos</a>
    <a href="https://mango-sky-087231410.2.azurestaticapps.net/" target="_blank">Demo</a>
  </div>
  <br>
  <!-- PROYECTO IMAGEN -->
  <div class="contenedor-intro">
    <img src="../../../assets/img/TransmisionDatos/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/TransmisionDatos/video.mp4" poster="../../../assets/img/TransmisionDatos/inicio.png"
      loop muted controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 1 tabla las cual es es: <strong>Usuario</strong>.
    </p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/TransmisionDatos/Diagrama.webp">
    </div>
    <a href="../../../assets/img/TransmisionDatos/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de texto, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>Conexion.php</strong> que se encuentra en la carpeta de
      PHP.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/Data.png">
    </div>
  </div>
  <!-- XAMMP -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se deberán activar los servicios de apache y MySQL en Xammp.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/Xammp.png">
    </div>
  </div>
  <!-- NAVEGAR -->
  <br>
  <div class="sobremi">
    <p>Finalmente para ejecutar el proyecto, se debera abrir el navegador y colocar la direccion
      <strong>localhost/Transmision%20de%20Datos/</strong>. Antes de ejecutarlo se debera asegurar que
      el proyecto
      se encuentre en la carpeta <strong>C:\xampp\htdocs</strong></p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/htdocs.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder entrar a la pagina, primero se debera registrar el usuario.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/Login.png">
    </div>
  </div>
  <div class="sobremi">
    <p>Una vez insertado el usuario, para navegar a través de la página viendo el contenido de los temas que
      posee esta pagina</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/Contenido.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Perfil</p>
    <p>En la pestaña de <strong>perfil</strong> que se encuentra el encabezado, podra consultar sus datos.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/TransmisionDatos/Usuario.png">
    </div>
  </div>
</section>
