<section id="servicios" class="servicios">
  <h3 class="titulo-seccion">Mis Servicios</h3>
  <div class="fila">
    <!-- Desarrollo Web -->
    <div class="servicio">
      <span class="icono"><i class="fa-sharp fa-solid fa-code"></i></span>
      <h4>Diseño de Sitios Web</h4>
      <hr>
      <ul class="servicios-tag">
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
      </ul>
      <p>Poseo conocimientos básicos sobre el desarrollo web, en lo que esta incluido el uso de <strong>Html, Css,
          JavaScript, Handlebars</strong>. Para el trabajo con bases de datos puedo utilizar PHP y Angular utilizando
        los modulos de <strong>express, morgan y nodemon</strong>.</p>
    </div>
    <!-- Bases de Datos -->
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-database"></i></span>
      <h4>Gestión de Bases de Datos</h4>
      <hr>
      <ul class="servicios-tag">
        <li>MySQL</li>
        <li>SQL Server</li>
        <li>Workbench</li>
      </ul>
      <p>Para el manejo de las bases de datos, tengo conocimientos del lenguaje SQL (<strong>MySQL, MariaDB y SQL
          Server</strong>) asi como las bases del lenguaje NoSQL. En el lenguaje SQL puedo utilizar los Triggers, asi
        como los <strong>Stored Procedures, las vistas y los Joins</strong>.</p>
    </div>
    <!-- Paqueteria Office -->
    <div class="servicio">
      <span class="icono"><i class="fa-brands fa-microsoft"></i></span>
      <h4>Paquetería de Office</h4>
      <hr>
      <ul class="servicios-tag">
        <li>Word</li>
        <li>Excel</li>
        <li>PowerPoint</li>
      </ul>
      <p>Cuento con la certificación de Office Specialist (MOS) en los que están las herramientas de <strong>Word, Excel
          y PowerPoint</strong>.</p>
    </div>
  </div>
</section>
