<footer>
  <a class="text-white" href="https://blog-bd-d24da.web.app/" target="_blank">Blog</a><br>
    Todos los derechos Reservados © 2023
  <div class="redes">
    <a href="https://github.com/RaulGeronimo" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://api.whatsapp.com/send?phone=5528973869" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="mailto:rgeronimoh001@outlook.com?Subject=Contacto%20para%20Vacante"><i
        class="fa-solid fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/ra%C3%BAl-gabriel-ger%C3%B3nimo-herrera-4abb53263/" target="_blank"><i
        class="fa-brands fa-linkedin"></i></a>
  </div>

</footer>
