<section id="educacion" class="educacion">
  <h3 class="titulo-seccion">Mi educacion</h3>
  <div class="fila">
    <!-- CECyTEM -->
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-school"></i></span>
      <h4>CECyTEM</h4>
      <h6>2015 - 2018</h6>
      <hr>
      <ul class="servicios-tag">
        <li>Técnico en Diseño Gráfico Digital</li>
      </ul>
      <p>Plantel II Valle de Chalco Solidaridad</p>
    </div>
    <!-- UAEM -->
    <div class="servicio">
      <span class="icono"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
      <h4>UAEM</h4>
      <h6>2018 - 2022</h6>
      <hr>
      <ul class="servicios-tag">
        <li>Ingeniería en Computación</li>
      </ul>
      <p>Plantel Valle de Chalco Solidaridad</p>
    </div>
  </div>
</section>
