<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Repertorio de Videojuegos</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>HTML, PHP, JS</strong>,
      para el diseño se utilizo el framework de <strong>bootstrap</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a un repertorio de Videojuegos, en donde el usuario podrá registrar a
      los Videojuegos, asi como las empresas, y finalmente el desarrollador.</p>
    <a href="https://github.com/RaulGeronimo/Videojuegos" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Videojuegos/Videojuegos.sql" download="Videojuegos.sql">Descargar Base de
      Datos</a>
    <a href="https://crud-videojuegos.000webhostapp.com/" target="_blank">Demo</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Videojuegos/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Videojuegos/video.mp4" poster="../../../assets/img/Videojuegos/inicio.png" loop
      muted controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 5 tablas, las cuales son: <strong>Desarrollador, Director,
        Distribuidor, Juegos y País</strong>. Este proyecto también cuenta con un total de 4 vistas asi como
      unos procedimientos almacenados.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Videojuegos/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Videojuegos/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de texto, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>Conexion.php</strong> que se encuentra en la carpeta de
      PHP.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/Data.png">
    </div>
  </div>

  <!-- XAMMP -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se deberán activar los servicios de apache y MySQL en Xammp.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/Xammp.png">
    </div>
  </div>

  <!-- NAVEGAR -->
  <br>
  <div class="sobremi">
    <p>Finalmente para ejecutar el proyecto, se deberá abrir el navegador y colocar la dirección
      <strong>http://localhost/Videojuegos/</strong>. Antes de ejecutarlo se debera asegurar que
      el proyecto se encuentre en la carpeta <strong>C:\xampp\htdocs</strong></p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/htdocs.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Antes de querer insertar datos, el usuario deberá seleccionar la sección que va a querer insertar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/navegacion.png">
    </div>
  </div>
  <div class="sobremi">
    <p>Una vez seleccionado el apartado, aparecerá un botón de Agregar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/agregar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Actualizar o eliminar</p>
    <p>Una vez estando los registros, cada registro contara con un botón de Actualizar o Eliminar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Videojuegos/actualizar.png">
    </div>
  </div>
</section>
