<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Música Spring</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>Java, JSP y
        Spring MVC</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a un repertorio de Música, en donde el usuario podrá agregar
      a los artistas asi como los grupos de Música, los Albumes y las Canciones del mismo, asi como
      modificarlos y
      finalmente eliminarlos.</p>
    <a href="https://github.com/RaulGeronimo/MusicaSpring" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Musica Spring/Musica.sql" download="Musica.sql">Descargar Base de Datos</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Musica/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Musica/video.mp4" poster="../../../assets/img/Musica/inicio.png" loop muted
      controls></video> -->
  </div>
</section>
<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 6 tablas, las cuales son: <strong>album, artista, canciones,
        disquera, grupo y usuario</strong>.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Musica/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Musica/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de código (de preferencia
      NetBeans), asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>ConexionDB</strong> que se encuentra en la carpeta de
      config.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Musica/Data.png">
    </div>
  </div>

  <!-- RUN -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se dará clic en el botón de la flecha verde o en su defecto con la
      tecla <strong>F6</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Musica/netBeans.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, se podrá dirigir a cualquiera de los apartados que aparecen en el menú
      principal.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Musica/insertar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>Para poder visualizar los registros insertados se podrá dirigir al apartado de Lista que se encuentra en
      cada una de las secciones del menú principal. Asimismo, en cada una de las tablas se encontrará en la
      parte superior una serie de botones que servirán para exportar los registros.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Musica/lista.png">
    </div>
  </div>
</section>
