<section class="contenedor-skills" id="skills">
  <h3>Habilidades</h3>
  <!-- MySQL -->
  <div class="skill">
    <div class="info">
      <p><span class="lista"></span>MySQL - Medio</p>
      <span class="porcentaje">80%</span>
    </div>
    <div class="barra">
      <div class="" id="MySQL"></div>
    </div>
  </div>
  <!-- SQL -->
  <div class="skill">
    <div class="info">
      <p><span class="lista"></span>SQL - Medio</p>
      <span class="porcentaje">70%</span>
    </div>
    <div class="barra">
      <div class="" id="SQL"></div>
    </div>
  </div>
  <!-- No SQL -->
  <div class="skill">
    <div class="info">
      <p><span class="lista"></span>NoSQL - Basico</p>
      <span class="porcentaje">40%</span>
    </div>
    <div class="barra">
      <div class="" id="NoSQL"></div>
    </div>
  </div>
  <!-- Oracle -->
  <div class="skill">
    <div class="info">
      <p><span class="lista"></span>Oracle - Medio</p>
      <span class="porcentaje">70%</span>
    </div>
    <div class="barra">
      <div class="" id="Oracle"></div>
    </div>
  </div>
</section>
