<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Series Spring</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>Java, JSP y
        Spring MVC</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a un repertorio de Series, asi como de películas, caricaturas y animes,
      en donde el usuario podrá agregar a las Temporadas de cada uno y también los directores encargados de
      cada serie, finalmente podrá modificarlos y finalmente eliminarlos.</p>
    <a href="https://github.com/RaulGeronimo/Series" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Series Spring/Series.sql" download="Series.sql">Descargar Base de Datos</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Series/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Series/video.mp4" poster="../../../assets/img/Series/inicio.png" loop muted
      controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 16 tablas, las cuales son: <strong>anime, caricatura,
        clasificacion, director, distribuidora, estudioanimacion, genero, pais, peliculas, productora,
        series, temporadas_anime, temporadas_caricatura, temporadas_emision, temporadas_series y
        usuario</strong>. Este proyecto igual cuenta con 23 vistas</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Series/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Series/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de código (de preferencia
      NetBeans), asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>ConexionDB</strong> que se encuentra en la carpeta de
      config.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/Data.png">
    </div>
  </div>

  <!-- RUN -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se dará clic en el botón de la flecha verde o en su defecto con la
      tecla <strong>F6</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/netBeans.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder empezar a utilizar el programa, primero deberá registrar un usuario para que este lo deje
      iniciar sesión.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/registro_Usuario.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Contenido del Programa</p>
    <p>Una vez dentro del programa, aparecerá una sección de contenido del programa, en este podrá seleccionar
      la sección en la que desee estar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/contenido.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Contenido por sección</p>
    <p>En cada una de las secciones se encontrara un submenu en lo que podra elegir que desea insertar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/seccion.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Agregar Registros</p>
    <p>Para poder insertar registros, se podrá dirigir a cualquiera de los apartados que aparecen en el menú de
      cada una de las secciones.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/insertar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>Para poder visualizar los registros insertados se podrá dirigir al primer apartado de cada uno de los
      menús del programa. Asimismo, en cada una de las tablas se encontrará en la parte superior una serie de
      botones que servirán para exportar los registros.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/lista.png">
    </div>
  </div>
  <div class="sobremi">
    <p>Existen algunos apartados que poseen 2 tipos de vistas, en donde se puede ver la cantidad de capítulos y
      su año de estreno. En estos apartados se realizó una agrupación asi como el conteo de capítulos y el
      promedio de la serie o caricatura.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Series/vista.png">
    </div>
  </div>
</section>
