<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Repertorio de Música</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes frameworks: <strong>Angular, TypeScript y
        Node JS</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a un repertorio de Música, en donde el usuario podra registrar a los
      Grupos de Musica, asi como sus intengrantes, los albumes de cada Grupo y finalmente las Canciones de
      cada Album.</p>
    <a href="https://github.com/RaulGeronimo/RepertorioMusica" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Repertorio/Repertorio.sql" download="Repertorio.sql">Descargar Base de Datos</a>
    <a href="https://repertorio-musica.web.app/" target="_blank">Demo</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Repertorio/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Repertorio/video.mp4" poster="../../../assets/img/Repertorio/inicio.png" loop muted
      controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de tablas, las cuales son: <strong>Album, Artista, Canciones,
        Disquera, Grupo, Instrumento y Pais</strong>.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Repertorio/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Repertorio/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar con Visual Studio Code, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>data</strong> que se encuentra en la carpeta de
      Servidor.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/Data.png">
    </div>
    <br>
    <p>En dado caso que el usuario requiera cambiar el idioma del Gestor de Bases de Datos, se debera dirigir al
      archivo <strong>database</strong> que se encuentra
      en la carpeta de
      Servidor.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/Languaje.png">
    </div>
  </div>

  <!-- Build -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se deben abrir 3 terminales, en el primer terminal se accederá a
      la carpeta Servidor y posteriormente se colocará el comando <strong>npm run build</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/Build.png">
    </div>
  </div>

  <!-- Dev -->
  <br>
  <div class="sobremi">
    <p>En la segunda terminal se accederá a la carpeta Servidor y posteriormente se colocará el comando <strong>npm run
        dev</strong>. Otra forma para compilar el proyecto es ejecutar el comando <strong>npm run start</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/Dev.png">
    </div>
  </div>

  <!-- App -->
  <br>
  <div class="sobremi">
    <p>En la última terminal se accederá a la carpeta <strong>appMusica</strong> y posteriormente se colocara
      el comando <strong>ng serve --open</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/App.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, se podrá dirigir a cualquiera de los apartados que aparecen en el menú
      principal.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/apartados.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>Para poder visualizar los registros insertados podrá visualizarlos por apartado, en el apartado de Grupos
      se podrán visualizar los integrantes de los grupos, asi como las canciones de los grupos y sus álbumes
      respectivamente.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/lista.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Insertar Registros</p>
    <p>Una vez dentro de la seccion, el usuario podra seleccionar lo que desea insertar, para eso debera llenar
      todos los campos solicitados.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/agregar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Busqueda</p>
    <p>En los apartados de <strong>Grupos y Álbumes </strong>contaran con un apartado de búsqueda, esto para
      mostrar las Canciones por Grupo, los Integrantes del Grupo, los Álbumes de cada Grupo y las Canciones
      que contiene un Álbum.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/busqueda.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Vista de tabla</p>
    <p>Existen algunos apartados en los que aparecerá un botón de <strong>otra vista</strong>, esto es para poder visualizar los registros como tabla, para poder ordenar dichos registros dependiendo de la columna seleccionada.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Repertorio/otra vista.png">
    </div>
  </div>
</section>
