<section id="sobremi" class="sobremi-container">
  <div class="contenedor-foto">
    <img src="../../../assets/img/foto2.png" alt="">
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Sobre mi</p>
    <h2>Hola, soy <span>Raúl Gerónimo</span></h2>
    <h3>Administrador de Bases de Datos</h3>
    <p>Soy Ingeniero en Computación de <strong>22 años</strong>, egresado de la UAEM en el año 2022. Soy una
      persona responsable, poseo conocimientos sobre las bases de datos, ya sea de análisis y manejo de las
      Bases de Datos en SQL.</p>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <!-- Fecha de Nacimiento -->
          <tr>
            <th scope="row">Fecha de Nacimiento</th>
            <td>07 / Septiembre / 2000</td>
          </tr>
          <!-- Localidad -->
          <tr>
            <th scope="row">Localidad</th>
            <td>Valle de chalco, Solidaridad</td>
          </tr>
          <!-- Github -->
          <tr>
            <th scope="row">Github</th>
            <td><a class="enlace" href="https://github.com/RaulGeronimo" target="_blank">RaulGeronimo</a>
            </td>
          </tr>
          <!-- Telefono -->
          <tr>
            <th scope="row">Número de Telefono</th>
            <!-- <td>(552) 897-3869</td> -->
            <td><a class="enlace" href="https://api.whatsapp.com/send?phone=5528973869" target="_blank">(552)
                897-3869</a></td>
          </tr>
          <!-- Correo -->
          <tr>
            <th scope="row">Correo</th>
            <td><a class="enlace"
                href="mailto:rgeronimoh001@outlook.com?Subject=Contacto%20para%20Vacante">rgeronimoh001@outlook.com</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <a href="./doc/Raúl Gabriel Gerónimo Herrera CV.pdf" download="Raúl Gabriel Gerónimo Herrera CV">Descargar CV</a> -->
    <a href="../../../assets/doc/Raúl Gabriel Gerónimo Herrera CV.pdf" target="_blank">Descargar CV</a>
  </div>
</section>
