<!----------------------------------------------------------------------------------------- Inicio ----------------------------------------------------------------------------------------->
<app-presentacion></app-presentacion>

<!---------------------------------------------------------------------------------------- Sobre Mi ---------------------------------------------------------------------------------------->
<app-sobremi></app-sobremi>

<!--------------------------------------------------------------------------------------- Servicios ---------------------------------------------------------------------------------------->
<app-servicios></app-servicios>

<!----------------------------------------------------------------------------------------- Skills ----------------------------------------------------------------------------------------->
<app-skills></app-skills>

<!--------------------------------------------------------------------------------------- Educacion ---------------------------------------------------------------------------------------->
<app-educacion></app-educacion>

<!--------------------------------------------------------------------------------------- Portafolio --------------------------------------------------------------------------------------->
<app-portafolio></app-portafolio>

<!---------------------------------------------------------------------------------------- Contacto ---------------------------------------------------------------------------------------->
<app-contacto></app-contacto>
