<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>MongoDB y NodeJS</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>HBS, NodeJS y
        Handlebars</strong>,
      para el diseño se utilizo el framework de <strong>bootstrap</strong>
      asi como el gestor de bases de datos <strong>MongoDB</strong>.</h3>
    <p>Este CRUD está realizado en base a una lista de actividades en donde el usuario podrá marcar las
      actividades que ya se hayan realizado asi como las actividades pendientes.</p>
    <a href="https://github.com/RaulGeronimo/mongodb-crud" target="_blank">Descargar Proyecto</a>
    <a href="https://app-tasks.onrender.com" target="_blank">Demo</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Mongo/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Mongo/video.mp4" poster="../../../assets/img/Mongo/inicio.png" loop muted
      controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 1 coleccion, la cual es: <strong>tasks</strong>.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Mongo/diagrama.png">
    </div>
    <a href="../../../assets/img/Mongo/diagrama.png" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de texto, asi como un gestor de
      bases de Datos, en este caso se utilizo MongoDB.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>database.js</strong> que se encuentra en la carpeta de
      src. Asi mismo se debera crear un archivo <strong>.env</strong> en donde se colocara la ruta de la base
      de datos.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Mongo/Data.png">
    </div>
  </div>

  <!-- Dev -->
  <br>
  <div class="sobremi">
    <p>En una terminal se colocará el comando <strong>npm run dev</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Mongo/dev.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, debera agregar datos en el formulario que se encuentra en la izquierda de
      la pagina.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Mongo/agregar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>En el lado derecho se encontrara una lista en donde aparecera una Lista, si esta lista esta vacia se
      mostrara un mensaje de vacio.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Mongo/lista.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Tareas</p>
    <p>En cada uno de los registros se encontrara un boton en donde se mostrara si la tarea esta pendiente, para
      cambiar de estado solo se dara clic en el primer boton.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Mongo/pendiente.png">
    </div>
  </div>
</section>
