<section class="intro-proyecto" id="skills">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Academia Angular</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes frameworks: <strong>Angular, TypeScript y
        Node JS</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a una academia cualquiera, en donde el usuario podrá agregar
      actividades, instructores y los clientes, asi como modificarlos y finalmente eliminarlos.</p>
    <a href="https://github.com/RaulGeronimo/AcademiaAngular" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Academia Angular/Gimnasio.sql" download="Gimnasio.sql">Descargar Base de Datos</a>
  </div>

  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Academia/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Academia/video.mp4" poster="../../../assets/img/Academia/inicio.png" loop muted
      controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 4 tablas, las cuales son: <strong>actividades, deportista, grupos,
        instructor</strong>.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Academia/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Academia/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar con Visual Studio Code, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>data</strong> que se encuentra en la carpeta de
      Servidor.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/Data.png">
    </div>
  </div>

  <!-- Build -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se deben abrir 3 terminales, en el primer terminal se accederá a
      la carpeta Servidor y posteriormente se colocará el comando <strong>npm run build</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/Build.png">
    </div>
  </div>

  <!-- Dev -->
  <br>
  <div class="sobremi">
    <p>En la segunda terminal se accederá a la carpeta Servidor y posteriormente se colocará el comando
      <strong>npm run dev</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/Dev.png">
    </div>
  </div>

  <!-- App -->
  <br>
  <div class="sobremi">
    <p>En la última terminal se accederá a la carpeta <strong>appAcademia</strong> y posteriormente se colocara
      el comando <strong>ng serve --open</strong>.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/App.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, se podrá dirigir a cualquiera de las pestañas y una vez que haya terminado
      de llenar los campos le dará en Aceptar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/Agregar.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Lista</p>
    <p>Para poder visualizar los registros insertados podrá visualizarlos por apartado o por grupo de
      actividades.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Academia/Lista.png">
    </div>
  </div>
</section>
