<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">¿En qué consiste este CRUD?</p>
    <h2>CRUD <span>Restaurante PHP</span></h2>
    <h3>Para la realización de este CRUD se utilizaron los siguientes lenguajes: <strong>HTML, JavaScript, CSS y
        PHP</strong>
      asi como el gestor de bases de datos <strong>MySQL</strong>.</h3>
    <p>Este CRUD está realizado en base a un restaurante de comida francesa, en donde el usuario podrá agregar
      una reservación asi como los pedidos de Entradas, Bebidas y Postres del mismo, asi como modificarlos y
      finalmente eliminarlos.</p>
    <a href="https://github.com/RaulGeronimo/RestaurantePHP" target="_blank">Descargar Proyecto</a>
    <a href="../../../assets/doc/CRUD/Restaurante PHP/Restaurante.sql" download="restaurante.sql">Descargar Base de
      Datos</a>
    <a href="https://restaurantepaginaweb.000webhostapp.com/" target="_blank">Demo</a>
  </div>
  <!-- PROYECTO IMAGEN -->
  <br>
  <div class="contenedor-intro">
    <img src="../../../assets/img/Restaurante/inicio.png" alt="Inicio">
    <!-- <video src="../../../assets/img/Restaurante/video.mp4" poster="../../../assets/img/Restaurante/inicio.png" loop
      muted controls></video> -->
  </div>
</section>

<!----------------------------------- Diagrama ----------------------------------->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Diagrama de Base de Datos</p>
    <p>Este diagrama consiste en un total de 5 tablas, las cuales son: <strong>bebidas, clientes, cuenta,
        entradas y postres</strong>.</p>
    <div class="contenedor-diagrama">
      <img src="../../../assets/img/Restaurante/Diagrama.webp">
    </div>
    <a href="../../../assets/img/Restaurante/Diagrama.svg" target="_blank">Diagrama</a>
  </div>
</section>

<!---------------------------------- COMPILADO ---------------------------------->
<!-- Base de Datos -->
<section class="intro-proyecto">
  <div class="sobremi">
    <p class="titulo-seccion">Compilado</p>
    <h3>Para poder compilar este proyecto, primero deberás contar algun editor de texto, asi como un gestor de
      bases de Datos.</h3>
    <p>Primero se deberá modificar el Archivo de <strong>Conexion.php</strong> que se encuentra en la carpeta de
      PHP.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/Data.png">
    </div>
  </div>

  <!-- XAMMP -->
  <br>
  <div class="sobremi">
    <p>Ahora para poder compilar el proyecto, se deberán activar los servicios de apache y MySQL en Xammp.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/Xammp.png">
    </div>
  </div>

  <!-- NAVEGAR -->
  <br>
  <div class="sobremi">
    <p>Finalmente para ejecutar el proyecto, se debera abrir el navegador y colocar la direccion
      <strong>localhost/Restaurante/</strong>. Antes de ejecutarlo se debera asegurar que el proyecto
      se encuentre en la carpeta <strong>C:\xampp\htdocs</strong></p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/htdocs.png">
    </div>
  </div>
</section>

<!-- Agregar Datos -->
<section class="diagrama">
  <div class="sobremi">
    <p class="titulo-seccion">Manejo del Programa</p>
    <p>Para poder insertar registros, se podrá dirigir al menú y seleccionar Reservar o en la página principal
      desplazarse al apartado de Reservar.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/Agregar Cliente.png">
    </div>
  </div>
  <div class="sobremi">
    <p>Una vez insertado el Cliente, se da clic en el botón de <strong>Ordenar</strong> y posteriormente se
      elige el tipo de platillo asi como el Código del mismo (Para esto se deberá visitar la lista de los
      platillos que están separados por categorías en el apartado de carta).</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/Agregar Pedido.png">
    </div>
  </div>
  <div class="sobremi">
    <p class="titulo-seccion">Factura</p>
    <p>Una vez terminado de ordenar, se dará clic en el botón de realizar factura y se selecciona el cliente,
      después de esto se generara un archivo PDF.</p>
    <div class="contenedor-intro">
      <img src="../../../assets/img/Restaurante/Factura.png">
    </div>
  </div>
</section>
