<section id="portfolio" class="portfolio">
  <h3 class="titulo-seccion">Mis Proyectos</h3>

  <div class="fila">
    <!-- Transmision de Datos -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Transmision Datos.png" alt="Proyecto">
      <div class="info">
        <h4><a class="enlace" [href]="['/datos']">Transmision de Datos</a></h4>
        <p>PHP - 2020 (Proyecto de Escuela)</p>
        <!-- <p>Octubre - 2020 (Proyecto de Escuela)</p> -->
      </div>
    </div>

    <!-- Restaurante PHP -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Restaurante.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/restaurante']" class="enlace">Restaurante</a></h4>
        <p>PHP - 2021 (Proyecto de Escuela)</p>
        <!-- <p>Junio - 2021 (Proyecto de Escuela)</p> -->
      </div>
    </div>

    <!-- Musica Hibernate -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Hibernate.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/hibernate']" class="enlace">Música Hibernate</a></h4>
        <p>JavaServer Faces - 2021 (Proyecto de Escuela)</p>
        <!-- <p>Noviembre - 2021 (Proyecto de Escuela)</p> -->
      </div>
    </div>

  </div>

  <div class="fila">
    <!-- Musica Spring -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Musica.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/musica']" class="enlace">Música</a></h4>
        <p>Spring y JSP - 2022 (Proyecto de Escuela)</p>
        <!-- <p>Junio - 2022 (Proyecto de Escuela)</p> -->
      </div>
    </div>

    <!-- Tienda Angular -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Tienda.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/tienda']" class="enlace">Tienda</a></h4>
        <p>Angular - 2022 (Proyecto Personal)</p>
        <!-- <p>Octubre - 2022 (Proyecto Personal)</p> -->
      </div>
    </div>

    <!-- Academia Angular -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Gimnasio.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/academia']" class="enlace">Academia</a></h4>
        <p>Angular - 2022 (Proyecto Personal)</p>
        <!-- <p>Noviembre - 2022 (Proyecto Personal)</p> -->
      </div>
    </div>

  </div>

  <div class="fila">

    <!-- Series Spring -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Series.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/series']" class="enlace">Series</a></h4>
        <p>Spring y JSP - 2022 (Proyecto Personal)</p>
        <!-- <p>Diciembre - 2022 (Proyecto Personal)</p> -->
      </div>
    </div>

    <!-- Videojuegos -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Juegos.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/videojuegos']" class="enlace">Videojuegos</a></h4>
        <p>PHP - 2023 (Proyecto Personal)</p>
        <!-- <p>Enero - 2023 (Proyecto Personal)</p> -->
      </div>
    </div>

    <!-- Repertorio Angular -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Repertorio.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/repertorio']" class="enlace">Repertorio</a></h4>
        <p>Angular - 2023 (Proyecto Personal)</p>
        <!-- <p>Febrero - 2023 (Proyecto Personal)</p> -->
      </div>
    </div>

  </div>

  <div class="fila">

    <!-- Tareas -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Mongo.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/tareas']" class="enlace">Tareas</a></h4>
        <p>Nodejs - 2023 (Proyecto Personal)</p>
        <!-- <p>Diciembre - 2022 (Proyecto Personal)</p> -->
      </div>
    </div>

    <!-- Notas -->
    <div class="proyecto">
      <div class="overlay"></div>
      <img src="../../../assets/img/Proyectos/Notas.png" alt="Proyecto">
      <div class="info">
        <h4><a [href]="['/notas']" class="enlace">Notas</a></h4>
        <p>NodeJS - 2023 (Proyecto Personal)</p>
        <!-- <p>Diciembre - 2022 (Proyecto Personal)</p> -->
      </div>
    </div>

    <!-- Aplicacion MySQL -->
    <div class="proyecto">
        <div class="overlay"></div>
        <img src="../../../assets/img/Proyectos/Links.png" alt="Proyecto">
        <div class="info">
          <h4><a [href]="['/links']"  class="enlace">Contactos</a></h4>
          <p>NodeJS - 2023 (Proyecto Personal)</p>
          <!-- <p>Mayo - 2023 (Proyecto Personal)</p> -->
        </div>
      </div>

  </div>
</section>
