<section class="cabecera" id="inicio">
  <div class="contenido">
    <header>
      <div class="contenido-header">
        <h1><a [routerLink]="['/']" class="titulo">Portafolio</a></h1>
        <nav id="nav">
          <ul id="links">
            <li><a href="/inicio#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
            <li><a href="/inicio#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
            <li><a href="/inicio#servicios" onclick="seleccionar(this)">SERVICIOS</a></li>
            <li><a href="/inicio#educacion" onclick="seleccionar(this)">EDUCACIÓN</a></li>
            <li><a href="/inicio#portfolio" onclick="seleccionar(this)">PORTFOLIO</a></li>
            <li><a href="/inicio#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
          </ul>
        </nav>

        <!-- Icono responsive -->
        <div id="icono-nav" onclick="responsiveMenu()">
          <i class="fa-solid fa-bars"></i>
        </div>

        <!-- <div class="redes">
          <a href="https://github.com/RaulGeronimo" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://api.whatsapp.com/send?phone=5528973869" target="_blank"><i
              class="fa-brands fa-whatsapp"></i></a>
          <a href="mailto:rgeronimoh001@outlook.com?Subject=Contacto%20para%20Vacante"><i
              class="fa-solid fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/ra%C3%BAl-gabriel-ger%C3%B3nimo-herrera-4abb53263/" target="_blank"><i
              class="fa-brands fa-linkedin"></i></a>
        </div> -->
      </div>
    </header>
  </div>
</section>
